{{!--左侧聊天窗口--}}
<div class="chat-room-left">
	<h1>欢迎来到wray的聊天室</h1>
	<ul class="messageList"></ul>
	<div class="send-message-area">
		<input type="text" name="message" class="chat-input">
		<button class="send-message-button" id="sendMsg">发送消息</button>
	</div>
	
</div>
{{!--右侧介绍功能--}}
<div class="chat-room-right">
	<p>这是一个聊天室,现在功能简单单一，但是会随着项目的拓展，慢慢增加。
	希望大家的大力支持。</p>
</div>