.container {
	width:1170px;
	margin:0 auto;
	padding:20px;
}
h1 {
	font-size:18px;
	color:#fff;
	background:#23ade4;
	padding:10px;
}
.chat-room-left {
	position:relative;
	float:left;
	width:80%;
	height:500px;
	background:#fff;
	border:1px solid #23ade4;
}
.messageList {
	height:424px;
	overflow:scroll;
}
.messageList li{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
/*发送区域*/
.send-message-area {
	width: 100%;
	position: absolute;
    bottom: 0;
}
.chat-input {
	width:80%;
	padding:10px;
	border:1px solid #23ade4;
	border-left:none;
	border-bottom:none;
}
.send-message-button {
	border: none;
    background: #23ade4;
    float: right;
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: -2px;
}

.chat-room-right {
	float:left;
	width:18%;
	padding:5px;
}
