<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的聊天室</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <link rel="icon" href="/static/images/favicon.ico">
</head>
<body>
	<div class="container">
	  {{{body}}}   
	</div>
    
</body>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/client.js"></script>
</html>